---
import { manifest } from '../../lib/site.ts';
---

<p class="notice">
  KOFA 한국영화 100선 전체와 파생 후보를 조사한 연구 파일럿({manifest.datasetVersion})입니다. 현재 순위는
  수집 범위와 출처 기록의 영향을 받으며, KOFA의 공식 영향력 순위가 아닙니다.
</p>
